

@media (min-width:991px) and (max-width:7000px) {

    .arfat-0{
        background-color: rgb(255, 168, 235);
        padding-bottom: 120px;
        padding-top: 10px;
    }    
    .arfat-2{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: red;
        font-size: 70px;
        margin-top: 10px;
    }
    .arfat-3{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: rgb(215, 158, 0);
        font-size: 60px;
    
    }
    .arfat-4{
        margin-top: -40px;
    }
    .arfat-5{
        margin: 0px auto;
    }
    .arfat-6{
        padding-left: 60px;
        padding-top: 90px;
    }
    .btn{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
    }
    .bi{
        font-size: 25px;
    }
    .btn:hover{
        background-color: aliceblue;
        border:4px solid rgb(27, 244, 244);
    }



    /*  */

    .arfat-9{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: bold;
        padding-left: 25px;
        padding-right: 25px;
        background-color: rgb(90, 203, 248);
        border: 2px solid aquamarine;
        border-radius: 10px;
    }
    .arfat-9:hover{
        background-color: aliceblue;
        border:4px solid rgb(27, 244, 244);
    }
    .arfat-8{
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .arfat-10{
        height: 280px;
        background-color: rgb(208, 210, 212);
        border-radius: 25px;
    }
    .arfat-11{
        padding: 10px;
    }


    .arfat-13{
        height: 240px;
        
    }
    .arfat-12{
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .arfat-bg{
        background-color: rgb(255, 175, 153);
        padding-top: 10px;
        padding-bottom: 40px;
        margin-top: -50px;
    }
    .arfat-bg1{
        background-color: rgb(255, 175, 153);
        margin-top: -50px;
        padding-top: 30px;
    }
    .arfat-15{
        border-radius: 15px;
        border: 2px solid red;
    }

 }